@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    background-color: hsl(0, 0%, 8%);
    color: hsl(0, 0%, 100%);
    font-family: 'Inter', sans-serif;
    text-align: center;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
}

.block {
    background-color: hsl(0, 0%, 12%);
    border-radius: 15px;
    width: 300px;
    margin: auto;
}

img {
    margin-top: 10%;
    margin-bottom: 7%;
    clip-path: circle(50%);
    width: 25%;
}

.name {
    font-weight: 400;
    font-size: 24px;
    margin: 0;
}
.location {
    color: hsl(75, 94%, 57%);
    margin-top: 2%;
    margin-bottom: 10%;
    font-size: 14px;
    font-weight: 600;
}
.comment {
    font-size: 14px;
    font-weight: 250;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 90%;
    padding-top: 4%;
    padding-left: 5%;
    padding-bottom: 10%;
}

.buttons button {
    background-color: hsl(0, 0%, 20%);
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    border: none;
    border-radius: 5%;
    padding: 14px 40px;
}

button:hover {
    background-color: hsl(75, 94%, 57%);
    color: black;
}